body{
    position: relative;
}
.maincontainer{
    border: 2px solid black;
    display: flex;
    /* padding: 0px auto; */
    flex-direction: column;
    align-items: center;
    padding: 200px 100px;
}
.container{
    border: 2px solid black;
    display: flex;
    text-align: center;
    /* padding: 60px 90px; */
}
.text{
    /* border: 1px 1px 1px 0px solid black; */
    border-right: 2px solid black;
    padding: 30px 50px;
    display: inline-block;
}
.inputtag{
    /* border: 1px 1px 0px 1px solid black; */
    padding: 30px 50px;
}
.pos{
  background-color: rebeccapurple;
  border: 1px solid black;
  padding: 18px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 5%;
}